/* line 25, assets/scss/style.scss */
body {
  background-color: #f8f8f8;
}

/* line 29, assets/scss/style.scss */
a#icon {
  font-size: 30px;
  display: none;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  /* line 29, assets/scss/style.scss */
  a#icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}

/* line 41, assets/scss/style.scss */
#navigation {
  background-color: #fff;
  width: 100%;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  z-index: 9999;
  position: fixed;
  transition: height 0.5s;
}

/* line 49, assets/scss/style.scss */
#navigation a {
  color: #272264;
  text-decoration: none;
}

/* line 52, assets/scss/style.scss */
#navigation a:hover {
  transition: all 0.3s;
}

/* line 56, assets/scss/style.scss */
#navigation__list {
  display: block;
  transition: all 0.5s;
}

/* line 60, assets/scss/style.scss */
#navigation__list #img-logo {
  padding: 0.4rem;
  width: 12rem;
  transition: all 0.5s;
  display: inline-block;
}

/* line 67, assets/scss/style.scss */
#navigation__list--menu-right {
  height: 100%;
  margin: auto;
  display: block;
  float: right;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  /* line 67, assets/scss/style.scss */
  #navigation__list--menu-right {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  /* line 78, assets/scss/style.scss */
  #navigation__list--menu-right.navbar.responsive {
    display: block;
    padding-top: 1rem;
  }
  /* line 83, assets/scss/style.scss */
  #navigation__list--menu-right.navbar.responsive a {
    display: block;
    padding: 1rem 0rem 1rem 1rem;
  }
}

/* line 90, assets/scss/style.scss */
#navigation__list--menu-right a {
  display: inline-block;
  margin: 0;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

@media only screen and (max-width: 900px) {
  /* line 90, assets/scss/style.scss */
  #navigation__list--menu-right a {
    display: none;
  }
}

/* line 99, assets/scss/style.scss */
#navigation__list--menu-right a:hover {
  color: #272264 !important;
}

/* line 108, assets/scss/style.scss */
.navigation-scrolled {
  background-color: white;
  /*border-bottom: .2rem solid $color-secondary;*/
  box-shadow: 0.1rem 0.1rem 0.2rem 0 #272264;
}

/* line 115, assets/scss/style.scss */
.navigation-scrolled a {
  color: #272264 !important;
}

/* line 118, assets/scss/style.scss */
.navigation-scrolled a:hover {
  color: #272264 !important;
}

/* line 122, assets/scss/style.scss */
.navigation-scrolled #img-logo {
  width: 10rem !important;
}

/* line 127, assets/scss/style.scss */
.home-rhm {
  background-color: #fff;
  height: auto;
}

/* line 131, assets/scss/style.scss */
.home-rhm--container-content {
  padding-top: 13rem;
}

@media only screen and (max-width: 25em) {
  /* line 131, assets/scss/style.scss */
  .home-rhm--container-content {
    padding: 9rem 2rem 0 2rem;
  }
}

/* line 138, assets/scss/style.scss */
.home-rhm--col-left {
  width: calc(100% * 5 / 12);
  animation: moveInLeft 1s ease-out;
}

@media only screen and (max-width: 25em) {
  /* line 138, assets/scss/style.scss */
  .home-rhm--col-left {
    width: auto;
  }
}

/* line 145, assets/scss/style.scss */
.home-rhm--col-left-headingbold {
  font-weight: bold;
}

/* line 148, assets/scss/style.scss */
.home-rhm--col-left-word {
  padding-top: 3rem;
  color: #272264;
  width: 100%;
}

/* line 154, assets/scss/style.scss */
.home-rhm--col-right {
  animation: moveInRight 1s ease-out;
  width: calc(100% * 7 / 12);
}

@media only screen and (max-width: 25em) {
  /* line 154, assets/scss/style.scss */
  .home-rhm--col-right {
    width: auto;
  }
}

/* line 162, assets/scss/style.scss */
.home-rhm--col-right-img {
  margin-left: 2rem;
  width: 100%;
}

@media only screen and (max-width: 25em) {
  /* line 162, assets/scss/style.scss */
  .home-rhm--col-right-img {
    margin-top: 2rem;
    margin-left: 0;
  }
}

/* line 172, assets/scss/style.scss */
.home-rhm--container-sosmed {
  margin-top: 3rem;
}

/* line 174, assets/scss/style.scss */
.home-rhm--container-sosmed-fb {
  width: 2rem;
}

/* line 177, assets/scss/style.scss */
.home-rhm--container-sosmed-ig {
  width: 2rem;
  margin-left: 0.5rem;
}

/* line 184, assets/scss/style.scss */
.about-rhm {
  background-color: #fff;
  padding-top: 7rem;
}

/* line 187, assets/scss/style.scss */
.about-rhm--bg {
  height: 500px;
  background-image: url("img/bg-about@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 25em) {
  /* line 187, assets/scss/style.scss */
  .about-rhm--bg {
    background-image: none;
    background-color: #1D1652;
    height: auto;
  }
}

/* line 200, assets/scss/style.scss */
.about-rhm--bg-word {
  padding: 3rem 0 1rem 0;
  margin-left: 8rem;
  color: white;
  width: 30rem;
  text-align: center;
}

@media only screen and (max-width: 25em) {
  /* line 200, assets/scss/style.scss */
  .about-rhm--bg-word {
    margin-left: 0;
    width: 100%;
    padding: 3rem 1.5rem 1rem 1.5rem;
  }
}

/* line 216, assets/scss/style.scss */
.reason-rhm {
  color: #272264;
  text-align: center;
  padding-top: 10rem;
}

/* line 226, assets/scss/style.scss */
.reason-rhm--heading {
  padding-bottom: 3rem;
}

/* line 231, assets/scss/style.scss */
.reason-rhm--content__left {
  margin-top: 3.5rem;
}

/* line 234, assets/scss/style.scss */
.reason-rhm--content__left-column01 {
  border-right: 1px solid red;
  padding-right: 0;
}

/* line 237, assets/scss/style.scss */
.reason-rhm--content__left-column01 img {
  float: right;
  width: 10rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 25em) {
  /* line 237, assets/scss/style.scss */
  .reason-rhm--content__left-column01 img {
    width: 6rem;
    padding-right: 0.5rem;
  }
}

/* line 248, assets/scss/style.scss */
.reason-rhm--content__left-column02 {
  padding-top: 0.5rem;
  padding-left: 2rem;
  text-align: left;
}

@media only screen and (max-width: 25em) {
  /* line 248, assets/scss/style.scss */
  .reason-rhm--content__left-column02 {
    padding-left: 0.5rem;
  }
}

/* line 257, assets/scss/style.scss */
.reason-rhm--content__left-column02-word {
  float: left;
  width: 70%;
}

@media only screen and (max-width: 25em) {
  /* line 257, assets/scss/style.scss */
  .reason-rhm--content__left-column02-word {
    width: 95%;
    font-size: 14px;
  }
}

/* line 266, assets/scss/style.scss */
.reason-rhm--content__left-column02-word-heading {
  font-weight: bold;
  font-size: 17px;
}

/* line 273, assets/scss/style.scss */
.reason-rhm--content__right {
  margin-top: 3.5rem;
}

/* line 276, assets/scss/style.scss */
.reason-rhm--content__right-column01 {
  padding-top: 0.5rem;
  padding-right: 2rem;
  text-align: right;
}

@media only screen and (max-width: 25em) {
  /* line 276, assets/scss/style.scss */
  .reason-rhm--content__right-column01 {
    padding-right: 0.5rem;
  }
}

/* line 285, assets/scss/style.scss */
.reason-rhm--content__right-column01-word {
  float: right;
  width: 70%;
}

@media only screen and (max-width: 25em) {
  /* line 285, assets/scss/style.scss */
  .reason-rhm--content__right-column01-word {
    width: 95%;
    font-size: 14px;
  }
}

/* line 294, assets/scss/style.scss */
.reason-rhm--content__right-column01-word-heading {
  font-weight: bold;
  font-size: 16px;
}

/* line 300, assets/scss/style.scss */
.reason-rhm--content__right-column02 {
  border-left: 1px solid red;
  padding-left: 0;
}

/* line 303, assets/scss/style.scss */
.reason-rhm--content__right-column02 img {
  float: left;
  width: 10rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 25em) {
  /* line 303, assets/scss/style.scss */
  .reason-rhm--content__right-column02 img {
    width: 6rem;
    padding-left: 0.5rem;
  }
}

/* line 318, assets/scss/style.scss */
.galery-rhm {
  color: #272264;
  text-align: center;
  padding-top: 7rem;
}

/* line 322, assets/scss/style.scss */
.galery-rhm--slideshow {
  margin-top: -5rem;
  padding: 40px 0 140px 0;
  margin: auto;
  width: 60%;
}

@media only screen and (max-width: 25em) {
  /* line 322, assets/scss/style.scss */
  .galery-rhm--slideshow {
    width: 100%;
  }
}

/* line 332, assets/scss/style.scss */
.galery-rhm--slideshow p {
  margin-top: 5rem;
  font-size: 28px;
  color: white;
}

/* line 338, assets/scss/style.scss */
.galery-rhm--bg {
  margin-top: -27rem;
  height: 280px;
  background-image: linear-gradient(to right bottom, rgba(59, 53, 139, 0.8), rgba(59, 53, 139, 0.5)), url("img/bg-galery.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 25em) {
  /* line 350, assets/scss/style.scss */
  .col {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
}

/* line 356, assets/scss/style.scss */
.business-field-rhm {
  padding-top: 10rem;
  text-align: center;
}

/* line 359, assets/scss/style.scss */
.business-field-rhm--heading {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 25em) {
  /* line 359, assets/scss/style.scss */
  .business-field-rhm--heading {
    padding-bottom: 0;
  }
}

/* line 364, assets/scss/style.scss */
.business-field-rhm--heading h1 {
  color: #272264;
}

/* line 367, assets/scss/style.scss */
.business-field-rhm--heading p {
  font-size: .8rem;
  color: grey;
}

/* line 373, assets/scss/style.scss */
.business-field-rhm--content-row {
  margin-top: 5rem;
}

@media only screen and (max-width: 25em) {
  /* line 373, assets/scss/style.scss */
  .business-field-rhm--content-row {
    margin-top: 2rem;
  }
}

/* line 379, assets/scss/style.scss */
.business-field-rhm--content-row-heading {
  padding-top: 1rem;
  font-size: 1rem;
}

/* line 383, assets/scss/style.scss */
.business-field-rhm--content-row-paragraph {
  font-size: .7rem;
}

/* line 386, assets/scss/style.scss */
.business-field-rhm--content-row a {
  text-decoration: none;
}

/* line 389, assets/scss/style.scss */
.business-field-rhm--content-row__box01 {
  color: white;
  background-image: url("img/img01@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 402, assets/scss/style.scss */
.business-field-rhm--content-row__box01-heading {
  font-weight: bold;
}

/* line 405, assets/scss/style.scss */
.business-field-rhm--content-row__box01-paragraph {
  font-size: 0.9rem;
}

/* line 409, assets/scss/style.scss */
.business-field-rhm--content-row__box01:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 414, assets/scss/style.scss */
.business-field-rhm--content-row__box02 {
  color: white;
  background-image: url("img/img02@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 427, assets/scss/style.scss */
.business-field-rhm--content-row__box02-heading {
  font-weight: bold;
}

/* line 430, assets/scss/style.scss */
.business-field-rhm--content-row__box02-paragraph {
  font-size: 0.9rem;
}

/* line 434, assets/scss/style.scss */
.business-field-rhm--content-row__box02:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 439, assets/scss/style.scss */
.business-field-rhm--content-row__box03 {
  color: white;
  background-image: url("img/img03@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 452, assets/scss/style.scss */
.business-field-rhm--content-row__box03-heading {
  font-weight: bold;
}

/* line 455, assets/scss/style.scss */
.business-field-rhm--content-row__box03-paragraph {
  font-size: 0.9rem;
}

/* line 459, assets/scss/style.scss */
.business-field-rhm--content-row__box03:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 464, assets/scss/style.scss */
.business-field-rhm--content-row__box04 {
  color: white;
  background-image: url("img/img04@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 477, assets/scss/style.scss */
.business-field-rhm--content-row__box04-heading {
  font-weight: bold;
}

/* line 480, assets/scss/style.scss */
.business-field-rhm--content-row__box04-paragraph {
  font-size: 0.9rem;
}

/* line 484, assets/scss/style.scss */
.business-field-rhm--content-row__box04:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 489, assets/scss/style.scss */
.business-field-rhm--content-row__box05 {
  color: white;
  background-image: url("img/img05@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 502, assets/scss/style.scss */
.business-field-rhm--content-row__box05-heading {
  font-weight: bold;
}

/* line 505, assets/scss/style.scss */
.business-field-rhm--content-row__box05-paragraph {
  font-size: 0.9rem;
}

/* line 509, assets/scss/style.scss */
.business-field-rhm--content-row__box05:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 514, assets/scss/style.scss */
.business-field-rhm--content-row__box06 {
  color: white;
  background-image: url("img/img06@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 527, assets/scss/style.scss */
.business-field-rhm--content-row__box06-heading {
  font-weight: bold;
}

/* line 530, assets/scss/style.scss */
.business-field-rhm--content-row__box06-paragraph {
  font-size: 0.9rem;
}

/* line 534, assets/scss/style.scss */
.business-field-rhm--content-row__box06:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 539, assets/scss/style.scss */
.business-field-rhm--content-row__box07 {
  color: white;
  background-image: url("img/img07@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 552, assets/scss/style.scss */
.business-field-rhm--content-row__box07-heading {
  font-weight: bold;
}

/* line 555, assets/scss/style.scss */
.business-field-rhm--content-row__box07-paragraph {
  font-size: 0.9rem;
}

/* line 559, assets/scss/style.scss */
.business-field-rhm--content-row__box07:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 564, assets/scss/style.scss */
.business-field-rhm--content-row__box08 {
  color: white;
  background-image: url("img/img08@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 577, assets/scss/style.scss */
.business-field-rhm--content-row__box08-heading {
  font-weight: bold;
}

/* line 580, assets/scss/style.scss */
.business-field-rhm--content-row__box08-paragraph {
  font-size: 0.9rem;
}

/* line 584, assets/scss/style.scss */
.business-field-rhm--content-row__box08:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 589, assets/scss/style.scss */
.business-field-rhm--content-row__box09 {
  color: white;
  background-image: url("img/img09@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 602, assets/scss/style.scss */
.business-field-rhm--content-row__box09-heading {
  font-weight: bold;
}

/* line 605, assets/scss/style.scss */
.business-field-rhm--content-row__box09-paragraph {
  font-size: 0.9rem;
}

/* line 609, assets/scss/style.scss */
.business-field-rhm--content-row__box09:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

@media only screen and (max-width: 25em) {
  /* line 618, assets/scss/style.scss */
  #big-news {
    display: none;
  }
}

@media screen and (min-width: 25.1em) {
  /* line 624, assets/scss/style.scss */
  #small-news {
    display: none;
  }
}

/* line 630, assets/scss/style.scss */
.news-rhm {
  padding-bottom: 10rem;
  text-align: center;
}

/* line 632, assets/scss/style.scss */
.news-rhm--heading {
  color: #272264;
  font-size: 2rem;
  padding-top: 9rem;
}

/* line 637, assets/scss/style.scss */
.news-rhm--heading-detail {
  font-size: .8rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 25em) {
  /* line 637, assets/scss/style.scss */
  .news-rhm--heading-detail {
    padding-bottom: 2rem;
  }
}

/* line 648, assets/scss/style.scss */
.news-rhm--content__list {
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  height: 9.5rem;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 654, assets/scss/style.scss */
.news-rhm--content__list-img01 {
  width: 30%;
  height: 100%;
  background-image: url("img/news02@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 664, assets/scss/style.scss */
.news-rhm--content__list-img02 {
  width: 30%;
  height: 100%;
  background-image: url("img/news03@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 674, assets/scss/style.scss */
.news-rhm--content__list-img03 {
  width: 30%;
  height: 100%;
  background-image: url("img/news04@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 684, assets/scss/style.scss */
.news-rhm--content__list-img-small {
  width: 30%;
  height: 100%;
  background-image: url("img/news01@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 694, assets/scss/style.scss */
.news-rhm--content__list-content {
  padding-top: 2rem;
  text-align: left;
  width: 70%;
  height: 100%;
}

/* line 699, assets/scss/style.scss */
.news-rhm--content__list-content h5 {
  font-weight: bold;
  font-size: .9rem;
}

/* line 703, assets/scss/style.scss */
.news-rhm--content__list-content p {
  font-size: .7rem;
}

/* line 712, assets/scss/style.scss */
.footer-rhm--top {
  padding-top: 3rem;
  height: auto;
  background-color: #fff;
}

/* line 717, assets/scss/style.scss */
.footer-rhm--top-content-left {
  text-align: left;
  border-right: 1px solid #c4c4c4;
}

/* line 720, assets/scss/style.scss */
.footer-rhm--top-content-left img {
  width: 12rem;
}

/* line 723, assets/scss/style.scss */
.footer-rhm--top-content-left p {
  color: #272264;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: justify;
}

@media only screen and (max-width: 25em) {
  /* line 723, assets/scss/style.scss */
  .footer-rhm--top-content-left p {
    text-align: left;
  }
}

/* line 734, assets/scss/style.scss */
.footer-rhm--top-content-center {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

/* line 738, assets/scss/style.scss */
.footer-rhm--top-content-center h5 {
  font-weight: bold;
  color: #272264;
}

/* line 742, assets/scss/style.scss */
.footer-rhm--top-content-center p {
  color: #272264;
}

/* line 745, assets/scss/style.scss */
.footer-rhm--top-content-center__email {
  display: inline-block;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: #272264;
  transition: 0.1s ease-in;
}

/* line 753, assets/scss/style.scss */
.footer-rhm--top-content-center__email:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
  background-color: #4e47b4;
}

/* line 759, assets/scss/style.scss */
.footer-rhm--top-content-center__centercall {
  padding: 0.6rem 0 0.6rem 0;
}

/* line 762, assets/scss/style.scss */
.footer-rhm--top-content-center__call {
  display: inline-block;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #272264;
  transition: 0.1s ease-in;
}

/* line 771, assets/scss/style.scss */
.footer-rhm--top-content-center__call:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
  background-color: #4e47b4;
}

/* line 778, assets/scss/style.scss */
.footer-rhm--top-content-right {
  padding-left: 2rem;
  border-left: 1px solid #c4c4c4;
  color: #272264;
}

/* line 783, assets/scss/style.scss */
.footer-rhm--top-content-right-01 i {
  padding: 0.3rem 0 0 0.3rem;
  color: #272264;
  font-size: 2rem;
}

/* line 788, assets/scss/style.scss */
.footer-rhm--top-content-right-01 p {
  text-align: left !important;
}

@media only screen and (max-width: 25em) {
  /* line 795, assets/scss/style.scss */
  .footer-rhm--top-content-left, .footer-rhm--top-content-center, .footer-rhm--top-content-right {
    margin-bottom: 4rem;
    border: none;
  }
}

/* line 802, assets/scss/style.scss */
.footer-rhm--bottom {
  text-align: center;
  padding-top: 25px;
  color: white;
  height: 5rem;
  background-color: #272264;
  margin-bottom: 0;
}

/* line 813, assets/scss/style.scss */
.btn {
  margin-top: 5rem;
}

/* line 815, assets/scss/style.scss */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6rem 2rem;
  display: inline-block;
  border-radius: 0.3rem;
  transition: all 0.2s;
  position: relative;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* line 832, assets/scss/style.scss */
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

/* line 837, assets/scss/style.scss */
.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 845, assets/scss/style.scss */
.btn--purple {
  padding: 1rem 3.5rem 1rem 3.5rem;
  background-color: #272264;
  color: white !important;
  animation: moveInBottom 1s ease-in;
}

/* line 853, assets/scss/style.scss */
.btn--purple:hover {
  background-color: #322b87;
}

/* line 858, assets/scss/style.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

/* line 870, assets/scss/style.scss */
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* line 921, assets/scss/style.scss */
.container-scroll {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

/* line 927, assets/scss/style.scss */
.container-scroll img {
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 932, assets/scss/style.scss */
.container-scroll .content {
  text-align: left;
  position: absolute;
  bottom: 0;
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* line 941, assets/scss/style.scss */
.container-scroll .content h1 {
  font-size: 1.6rem;
}

/* line 944, assets/scss/style.scss */
.container-scroll .content p {
  font-size: .8rem;
}

/* line 949, assets/scss/style.scss */
.more {
  padding-top: 3rem;
}

/* line 951, assets/scss/style.scss */
.more a {
  color: #272264;
  text-decoration: none;
  transition: .2s ease-in;
}

/* line 956, assets/scss/style.scss */
.more a:hover {
  color: #4e47b4;
}

/*# sourceMappingURL=style.css.map */