/* line 40, assets/scss/style.scss */
body {
  background-color: #f8f8f8;
}

/* line 44, assets/scss/style.scss */
a#icon {
  font-size: 30px;
  display: none;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  /* line 44, assets/scss/style.scss */
  a#icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}

/* line 56, assets/scss/style.scss */
#navigation {
  background-color: #fff;
  width: 100%;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  z-index: 9999;
  position: fixed;
  transition: height 0.5s;
}

/* line 64, assets/scss/style.scss */
#navigation a {
  color: #272264;
  text-decoration: none;
}

/* line 67, assets/scss/style.scss */
#navigation a:hover {
  transition: all 0.3s;
}

/* line 71, assets/scss/style.scss */
#navigation__list {
  display: block;
  transition: all 0.5s;
}

/* line 75, assets/scss/style.scss */
#navigation__list #img-logo {
  padding: 0.4rem;
  width: 12rem;
  transition: all 0.5s;
  display: inline-block;
}

/* line 82, assets/scss/style.scss */
#navigation__list--menu-right {
  height: 100%;
  margin: auto;
  display: block;
  float: right;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  /* line 82, assets/scss/style.scss */
  #navigation__list--menu-right {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  /* line 92, assets/scss/style.scss */
  #navigation__list--menu-right.navbar.responsive {
    display: block;
    padding-top: 1rem;
  }
  /* line 97, assets/scss/style.scss */
  #navigation__list--menu-right.navbar.responsive a {
    display: block;
    padding: 1rem 0rem 1rem 1rem;
  }
}

/* line 104, assets/scss/style.scss */
#navigation__list--menu-right a {
  display: inline-block;
  margin: 0;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

@media only screen and (max-width: 900px) {
  /* line 104, assets/scss/style.scss */
  #navigation__list--menu-right a {
    display: none;
  }
}

/* line 113, assets/scss/style.scss */
#navigation__list--menu-right a:hover {
  color: #272264 !important;
}

/* line 118, assets/scss/style.scss */
#navigation__list--menu-right i {
  font-size: 2rem;
}

/* line 125, assets/scss/style.scss */
.navigation-scrolled {
  background-color: white;
  /*border-bottom: .2rem solid $color-secondary;*/
  box-shadow: 0.1rem 0.1rem 0.2rem 0 #272264;
}

/* line 132, assets/scss/style.scss */
.navigation-scrolled a {
  color: #272264 !important;
}

/* line 135, assets/scss/style.scss */
.navigation-scrolled a:hover {
  color: #272264 !important;
}

/* line 139, assets/scss/style.scss */
.navigation-scrolled #img-logo {
  width: 10rem !important;
}

/* line 144, assets/scss/style.scss */
.home-rhm {
  background-color: #fff;
  height: auto;
}

/* line 148, assets/scss/style.scss */
.home-rhm--container-content {
  padding-top: 13rem;
}

@media (max-width: 360px) {
  /* line 148, assets/scss/style.scss */
  .home-rhm--container-content {
    padding: 9rem 2rem 0 2rem;
  }
}

/* line 155, assets/scss/style.scss */
.home-rhm--col-left {
  width: calc(100% * 5 / 12);
  animation: moveInLeft 1s ease-out;
}

@media (max-width: 360px) {
  /* line 155, assets/scss/style.scss */
  .home-rhm--col-left {
    width: auto;
  }
}

/* line 162, assets/scss/style.scss */
.home-rhm--col-left-headingbold {
  font-weight: bold;
}

/* line 165, assets/scss/style.scss */
.home-rhm--col-left-word {
  padding-top: 3rem;
  color: #272264;
  width: 100%;
}

/* line 171, assets/scss/style.scss */
.home-rhm--col-right {
  animation: moveInRight 1s ease-out;
  width: calc(100% * 7 / 12);
}

@media (max-width: 360px) {
  /* line 171, assets/scss/style.scss */
  .home-rhm--col-right {
    width: auto;
  }
}

/* line 179, assets/scss/style.scss */
.home-rhm--col-right-img {
  margin-left: 2rem;
  width: 100%;
}

@media (max-width: 360px) {
  /* line 179, assets/scss/style.scss */
  .home-rhm--col-right-img {
    margin-top: 2rem;
    margin-left: 0;
  }
}

/* line 189, assets/scss/style.scss */
.home-rhm--container-sosmed {
  margin-top: 3rem;
}

/* line 191, assets/scss/style.scss */
.home-rhm--container-sosmed-fb {
  width: 2rem;
}

/* line 194, assets/scss/style.scss */
.home-rhm--container-sosmed-ig {
  width: 2rem;
  margin-left: 0.5rem;
}

/* line 201, assets/scss/style.scss */
.about-rhm {
  background-color: #fff;
  padding-top: 7rem;
}

/* line 204, assets/scss/style.scss */
.about-rhm--bg {
  height: 500px;
  background-image: url("img/bg-about@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 360px) {
  /* line 204, assets/scss/style.scss */
  .about-rhm--bg {
    background-image: none;
    background-color: #1d1652;
    height: auto;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* line 204, assets/scss/style.scss */
  .about-rhm--bg {
    background-image: none;
    background-color: #1d1652;
    height: auto;
  }
}

/* line 223, assets/scss/style.scss */
.about-rhm--bg-word {
  padding: 3rem 0 1rem 0;
  margin-left: 8rem;
  color: white;
  width: 30rem;
  text-align: center;
}

@media (max-width: 360px) {
  /* line 223, assets/scss/style.scss */
  .about-rhm--bg-word {
    margin-left: 0;
    width: 100%;
    padding: 3rem 1.5rem 1rem 1.5rem;
  }
}

/* line 239, assets/scss/style.scss */
.reason-rhm {
  color: #272264;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  overflow: hidden;
}

/* line 251, assets/scss/style.scss */
.reason-rhm--heading {
  padding-bottom: 3rem;
}

/* line 256, assets/scss/style.scss */
.reason-rhm--content__left {
  margin-top: 3.5rem;
}

/* line 259, assets/scss/style.scss */
.reason-rhm--content__left-column01 {
  padding-right: 0;
}

/* line 261, assets/scss/style.scss */
.reason-rhm--content__left-column01 img {
  float: right;
  width: 10rem;
  padding-right: 2rem;
}

@media (max-width: 360px) {
  /* line 261, assets/scss/style.scss */
  .reason-rhm--content__left-column01 img {
    width: 6rem;
    padding-right: 0.5rem;
  }
}

/* line 272, assets/scss/style.scss */
.reason-rhm--content__left-column02 {
  border-left: 1px solid red;
  padding-top: 0.5rem;
  padding-left: 2rem;
  text-align: left;
}

@media (max-width: 360px) {
  /* line 272, assets/scss/style.scss */
  .reason-rhm--content__left-column02 {
    padding-left: 0.5rem;
  }
}

/* line 282, assets/scss/style.scss */
.reason-rhm--content__left-column02-word {
  float: left;
  width: 70%;
}

@media (max-width: 360px) {
  /* line 282, assets/scss/style.scss */
  .reason-rhm--content__left-column02-word {
    width: 95%;
    font-size: 14px;
  }
}

/* line 291, assets/scss/style.scss */
.reason-rhm--content__left-column02-word-heading {
  font-weight: bold;
  font-size: 17px;
}

/* line 298, assets/scss/style.scss */
.reason-rhm--content__right {
  margin-top: 3.5rem;
}

/* line 301, assets/scss/style.scss */
.reason-rhm--content__right-column01 {
  padding-top: 0.5rem;
  padding-right: 2rem;
  text-align: right;
}

@media (max-width: 360px) {
  /* line 301, assets/scss/style.scss */
  .reason-rhm--content__right-column01 {
    padding-right: 0.5rem;
  }
}

/* line 310, assets/scss/style.scss */
.reason-rhm--content__right-column01-word {
  float: right;
  width: 70%;
}

@media (max-width: 360px) {
  /* line 310, assets/scss/style.scss */
  .reason-rhm--content__right-column01-word {
    width: 95%;
    font-size: 14px;
  }
}

/* line 319, assets/scss/style.scss */
.reason-rhm--content__right-column01-word-heading {
  font-weight: bold;
  font-size: 16px;
}

/* line 325, assets/scss/style.scss */
.reason-rhm--content__right-column02 {
  border-left: 1px solid red;
  padding-left: 0;
}

/* line 328, assets/scss/style.scss */
.reason-rhm--content__right-column02 img {
  float: left;
  width: 10rem;
  padding-left: 2rem;
}

@media (max-width: 360px) {
  /* line 328, assets/scss/style.scss */
  .reason-rhm--content__right-column02 img {
    width: 6rem;
    padding-left: 0.5rem;
  }
}

/* line 343, assets/scss/style.scss */
.galery-rhm {
  color: #272264;
  text-align: center;
  padding-top: 7rem;
}

/* line 347, assets/scss/style.scss */
.galery-rhm--slideshow {
  margin-top: -5rem;
  padding: 40px 0 140px 0;
  margin: auto;
  width: 60%;
}

@media (max-width: 360px) {
  /* line 347, assets/scss/style.scss */
  .galery-rhm--slideshow {
    width: 100%;
  }
}

/* line 357, assets/scss/style.scss */
.galery-rhm--slideshow p {
  margin-top: 5rem;
  font-size: 28px;
  color: white;
}

/* line 363, assets/scss/style.scss */
.galery-rhm--bg {
  margin-top: -27rem;
  height: 280px;
  background-image: linear-gradient(to right bottom, rgba(59, 53, 139, 0.8), rgba(59, 53, 139, 0.5)), url("img/bg-galery.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 360px) {
  /* line 375, assets/scss/style.scss */
  .col-md-4 {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
}

/* line 383, assets/scss/style.scss */
.business-field-rhm {
  padding-top: 10rem;
  text-align: center;
}

/* line 386, assets/scss/style.scss */
.business-field-rhm--heading {
  padding-bottom: 1rem;
}

@media (max-width: 360px) {
  /* line 386, assets/scss/style.scss */
  .business-field-rhm--heading {
    padding-bottom: 0;
  }
}

/* line 391, assets/scss/style.scss */
.business-field-rhm--heading h1 {
  color: #272264;
}

/* line 394, assets/scss/style.scss */
.business-field-rhm--heading p {
  font-size: 0.8rem;
  color: grey;
}

/* line 400, assets/scss/style.scss */
.business-field-rhm--content-row {
  margin-top: 5rem;
}

@media (max-width: 360px) {
  /* line 400, assets/scss/style.scss */
  .business-field-rhm--content-row {
    margin-top: 2rem;
  }
}

/* line 406, assets/scss/style.scss */
.business-field-rhm--content-row-heading {
  padding-top: 1rem;
  font-size: 1rem;
}

/* line 410, assets/scss/style.scss */
.business-field-rhm--content-row-paragraph {
  font-size: 0.7rem;
}

/* line 413, assets/scss/style.scss */
.business-field-rhm--content-row a {
  text-decoration: none;
}

/* line 416, assets/scss/style.scss */
.business-field-rhm--content-row__box01 {
  color: white;
  background-image: url("img/img01@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 429, assets/scss/style.scss */
.business-field-rhm--content-row__box01-heading {
  font-weight: bold;
}

/* line 432, assets/scss/style.scss */
.business-field-rhm--content-row__box01-paragraph {
  font-size: 0.9rem;
}

/* line 436, assets/scss/style.scss */
.business-field-rhm--content-row__box01:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 441, assets/scss/style.scss */
.business-field-rhm--content-row__box02 {
  color: white;
  background-image: url("img/img02@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 454, assets/scss/style.scss */
.business-field-rhm--content-row__box02-heading {
  font-weight: bold;
}

/* line 457, assets/scss/style.scss */
.business-field-rhm--content-row__box02-paragraph {
  font-size: 0.9rem;
}

/* line 461, assets/scss/style.scss */
.business-field-rhm--content-row__box02:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 466, assets/scss/style.scss */
.business-field-rhm--content-row__box03 {
  color: white;
  background-image: url("img/img03@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 479, assets/scss/style.scss */
.business-field-rhm--content-row__box03-heading {
  font-weight: bold;
}

/* line 482, assets/scss/style.scss */
.business-field-rhm--content-row__box03-paragraph {
  font-size: 0.9rem;
}

/* line 486, assets/scss/style.scss */
.business-field-rhm--content-row__box03:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 491, assets/scss/style.scss */
.business-field-rhm--content-row__box04 {
  color: white;
  background-image: url("img/img04@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 504, assets/scss/style.scss */
.business-field-rhm--content-row__box04-heading {
  font-weight: bold;
}

/* line 507, assets/scss/style.scss */
.business-field-rhm--content-row__box04-paragraph {
  font-size: 0.9rem;
}

/* line 511, assets/scss/style.scss */
.business-field-rhm--content-row__box04:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 516, assets/scss/style.scss */
.business-field-rhm--content-row__box05 {
  color: white;
  background-image: url("img/img05@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 529, assets/scss/style.scss */
.business-field-rhm--content-row__box05-heading {
  font-weight: bold;
}

/* line 532, assets/scss/style.scss */
.business-field-rhm--content-row__box05-paragraph {
  font-size: 0.9rem;
}

/* line 536, assets/scss/style.scss */
.business-field-rhm--content-row__box05:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 541, assets/scss/style.scss */
.business-field-rhm--content-row__box06 {
  color: white;
  background-image: url("img/img06@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 554, assets/scss/style.scss */
.business-field-rhm--content-row__box06-heading {
  font-weight: bold;
}

/* line 557, assets/scss/style.scss */
.business-field-rhm--content-row__box06-paragraph {
  font-size: 0.9rem;
}

/* line 561, assets/scss/style.scss */
.business-field-rhm--content-row__box06:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 566, assets/scss/style.scss */
.business-field-rhm--content-row__box07 {
  color: white;
  background-image: url("img/img07@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 579, assets/scss/style.scss */
.business-field-rhm--content-row__box07-heading {
  font-weight: bold;
}

/* line 582, assets/scss/style.scss */
.business-field-rhm--content-row__box07-paragraph {
  font-size: 0.9rem;
}

/* line 586, assets/scss/style.scss */
.business-field-rhm--content-row__box07:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 591, assets/scss/style.scss */
.business-field-rhm--content-row__box08 {
  color: white;
  background-image: url("img/img08@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 604, assets/scss/style.scss */
.business-field-rhm--content-row__box08-heading {
  font-weight: bold;
}

/* line 607, assets/scss/style.scss */
.business-field-rhm--content-row__box08-paragraph {
  font-size: 0.9rem;
}

/* line 611, assets/scss/style.scss */
.business-field-rhm--content-row__box08:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 616, assets/scss/style.scss */
.business-field-rhm--content-row__box09 {
  color: white;
  background-image: url("img/img09@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* line 629, assets/scss/style.scss */
.business-field-rhm--content-row__box09-heading {
  font-weight: bold;
}

/* line 632, assets/scss/style.scss */
.business-field-rhm--content-row__box09-paragraph {
  font-size: 0.9rem;
}

/* line 636, assets/scss/style.scss */
.business-field-rhm--content-row__box09:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* line 646, assets/scss/style.scss */
.product-detail {
  padding: 10rem 0 5rem 0;
}

/* line 648, assets/scss/style.scss */
.product-detail-content {
  padding: 1.5rem;
  background-color: white;
  height: auto;
}

/* line 653, assets/scss/style.scss */
.product-detail-content-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 5rem;
}

/* line 664, assets/scss/style.scss */
.product-detail-content-list--data {
  padding-top: 5rem;
}

/* line 669, assets/scss/style.scss */
.product-detail-content-isi {
  padding: 4rem 5rem 2rem 5rem;
}

@media (max-width: 360px) {
  /* line 680, assets/scss/style.scss */
  #big-news {
    display: none;
  }
}

@media screen and (min-width: 25.1em) {
  /* line 686, assets/scss/style.scss */
  #small-news {
    display: none;
  }
}

/* line 692, assets/scss/style.scss */
.news-rhm {
  overflow: hidden;
  padding-bottom: 10rem;
  text-align: center;
}

/* line 695, assets/scss/style.scss */
.news-rhm--heading {
  color: #272264;
  font-size: 2rem;
  padding-top: 9rem;
}

/* line 700, assets/scss/style.scss */
.news-rhm--heading-detail {
  font-size: 0.8rem;
  padding-bottom: 8rem;
}

@media (max-width: 360px) {
  /* line 700, assets/scss/style.scss */
  .news-rhm--heading-detail {
    padding-bottom: 2rem;
  }
}

/* line 711, assets/scss/style.scss */
.news-rhm--content a {
  text-decoration: none;
  color: black;
}

/* line 715, assets/scss/style.scss */
.news-rhm--content__list {
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  height: 9.5rem;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 721, assets/scss/style.scss */
.news-rhm--content__list-img01 {
  width: 30%;
  height: 100%;
  background-image: url("img/news02@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 731, assets/scss/style.scss */
.news-rhm--content__list-img02 {
  width: 30%;
  height: 100%;
  background-image: url("img/news03@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 741, assets/scss/style.scss */
.news-rhm--content__list-img03 {
  width: 30%;
  height: 100%;
  background-image: url("img/news04@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 751, assets/scss/style.scss */
.news-rhm--content__list-img-small {
  width: 30%;
  height: 100%;
  background-image: url("img/news01@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 761, assets/scss/style.scss */
.news-rhm--content__list-content {
  padding-top: 2rem;
  text-align: left;
  width: 70%;
  height: 100%;
}

/* line 766, assets/scss/style.scss */
.news-rhm--content__list-content h5 {
  font-weight: bold;
  font-size: 0.9rem;
}

/* line 770, assets/scss/style.scss */
.news-rhm--content__list-content p {
  font-size: 0.7rem;
}

/* line 778, assets/scss/style.scss */
.find-more-news {
  background-color: red;
  height: 40rem;
}

/* line 786, assets/scss/style.scss */
.footer-rhm--top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: auto;
  background-color: #fff;
}

/* line 792, assets/scss/style.scss */
.footer-rhm--top-content-left {
  text-align: left;
  border-right: 1px solid #c4c4c4;
}

/* line 795, assets/scss/style.scss */
.footer-rhm--top-content-left img {
  width: 12rem;
}

/* line 798, assets/scss/style.scss */
.footer-rhm--top-content-left p {
  color: #272264;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: justify;
}

@media (max-width: 360px) {
  /* line 798, assets/scss/style.scss */
  .footer-rhm--top-content-left p {
    text-align: left;
  }
}

/* line 809, assets/scss/style.scss */
.footer-rhm--top-content-center {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

/* line 813, assets/scss/style.scss */
.footer-rhm--top-content-center h5 {
  font-weight: bold;
  color: #272264;
}

/* line 817, assets/scss/style.scss */
.footer-rhm--top-content-center p {
  color: #272264;
}

/* line 820, assets/scss/style.scss */
.footer-rhm--top-content-center__email {
  display: inline-block;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: #272264;
  transition: 0.1s ease-in;
}

/* line 828, assets/scss/style.scss */
.footer-rhm--top-content-center__email:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
  background-color: #4e47b4;
}

/* line 834, assets/scss/style.scss */
.footer-rhm--top-content-center__centercall {
  padding: 0.6rem 0 0.6rem 0;
}

/* line 837, assets/scss/style.scss */
.footer-rhm--top-content-center__call {
  display: inline-block;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #272264;
  transition: 0.1s ease-in;
}

/* line 846, assets/scss/style.scss */
.footer-rhm--top-content-center__call:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
  background-color: #4e47b4;
}

/* line 853, assets/scss/style.scss */
.footer-rhm--top-content-right {
  padding-left: 2rem;
  border-left: 1px solid #c4c4c4;
  color: #272264;
}

/* line 858, assets/scss/style.scss */
.footer-rhm--top-content-right-01 i {
  padding: 0.3rem 0 0 0.3rem;
  color: #272264;
  font-size: 2rem;
}

/* line 863, assets/scss/style.scss */
.footer-rhm--top-content-right-01 p {
  text-align: left !important;
}

@media (max-width: 360px) {
  /* line 870, assets/scss/style.scss */
  .footer-rhm--top-content-left, .footer-rhm--top-content-center, .footer-rhm--top-content-right {
    margin-bottom: 4rem;
    border: none;
  }
}

/* line 879, assets/scss/style.scss */
.footer-rhm--bottom {
  text-align: center;
  padding-top: 25px;
  color: white;
  height: 5rem;
  background-color: #272264;
  margin-bottom: 0;
}

/* line 890, assets/scss/style.scss */
.btn {
  margin-top: 5rem;
}

/* line 892, assets/scss/style.scss */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6rem 2rem;
  display: inline-block;
  border-radius: 0.3rem;
  transition: all 0.2s;
  position: relative;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* line 909, assets/scss/style.scss */
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

/* line 914, assets/scss/style.scss */
.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 922, assets/scss/style.scss */
.btn--purple {
  padding: 1rem 3.5rem 1rem 3.5rem;
  background-color: #272264;
  color: white !important;
  animation: moveInBottom 1s ease-in;
}

/* line 930, assets/scss/style.scss */
.btn--purple:hover {
  background-color: #322b87;
}

/* line 935, assets/scss/style.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

/* line 947, assets/scss/style.scss */
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* line 953, assets/scss/style.scss */
.btn-news {
  display: inline-block;
  border: none;
  background: #272264;
  color: #fff;
  padding: 0.5rem 1.5rem;
  margin-top: 3.5rem;
}

/* line 961, assets/scss/style.scss */
.btn-news-block {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 967, assets/scss/style.scss */
.btn-news:hover {
  opacity: 0.9;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* line 1017, assets/scss/style.scss */
.container-scroll {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

/* line 1023, assets/scss/style.scss */
.container-scroll img {
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 1028, assets/scss/style.scss */
.container-scroll .content {
  text-align: left;
  position: absolute;
  bottom: 0;
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* line 1037, assets/scss/style.scss */
.container-scroll .content h1 {
  font-size: 1.6rem;
}

/* line 1040, assets/scss/style.scss */
.container-scroll .content p {
  font-size: 0.8rem;
}

/* line 1045, assets/scss/style.scss */
.more {
  overflow: hidden;
  padding-top: 3rem;
}

/* line 1048, assets/scss/style.scss */
.more a {
  color: #272264;
  text-decoration: none;
  transition: 0.2s ease-in;
}

/* line 1053, assets/scss/style.scss */
.more a:hover {
  color: #4e47b4;
}

/* Showcase */
/* line 1060, assets/scss/style.scss */
#showcase {
  color: #fff;
  padding: 2rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1068, assets/scss/style.scss */
#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding-top: 10rem;
}

/* line 1077, assets/scss/style.scss */
#showcase .showcase-content {
  z-index: 1;
}

/* line 1080, assets/scss/style.scss */
#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* line 1086, assets/scss/style.scss */
.category-home {
  display: inline-block;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

/* line 1095, assets/scss/style.scss */
.category-home-sports {
  background-color: red;
}

/* line 1100, assets/scss/style.scss */
.news-card {
  text-align: center;
  padding: 4rem 0 9rem 0;
}

/* line 1103, assets/scss/style.scss */
.news-card h2 {
  color: #272264;
}

/* line 1106, assets/scss/style.scss */
.news-card--items {
  padding-top: 4rem;
}

/* line 1114, assets/scss/style.scss */
.berita-detail {
  padding: 10rem 0 5rem 0;
}

/* line 1116, assets/scss/style.scss */
.berita-detail h2 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #272264;
}

/* line 1122, assets/scss/style.scss */
.berita-detail-content {
  padding: 1.5rem;
  background-color: white;
  height: auto;
}

/* line 1127, assets/scss/style.scss */
.berita-detail-content--img {
  height: 25rem;
  background-color: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 1137, assets/scss/style.scss */
.berita-detail-content--isi h4 {
  padding-top: 2rem;
}

/* line 1140, assets/scss/style.scss */
.berita-detail-content--isi-date {
  font-size: 14px;
  color: lightgrey;
}

/* line 1144, assets/scss/style.scss */
.berita-detail-content--isi p {
  padding-top: 0.5rem;
}

/* line 1150, assets/scss/style.scss */
.berita-detail-card {
  height: 40rem;
  padding: 1rem;
}

/* line 1154, assets/scss/style.scss */
.berita-detail-card--top {
  height: auto;
  background-color: #4e47b4;
  padding: 1.4rem;
  color: white;
}

/* line 1161, assets/scss/style.scss */
.berita-detail-card--bottom {
  margin-top: 1.2rem;
  height: auto;
  background-color: #fff;
  padding: 2rem 0 2rem 0;
}

/* line 1171, assets/scss/style.scss */
.list li {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

/* line 1177, assets/scss/style.scss */
.list li a {
  color: black;
  text-decoration: none;
}

/* line 1182, assets/scss/style.scss */
.list li a:hover {
  color: red !important;
}

/* line 1186, assets/scss/style.scss */
ul {
  list-style: none;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*jssor slider bullet skin 051 css*/
/* line 1201, assets/scss/style.scss */
.jssorb051 .i {
  position: absolute;
  cursor: pointer;
}

/* line 1205, assets/scss/style.scss */
.jssorb051 .i .b {
  fill: #fff;
  fill-opacity: 0.5;
}

/* line 1209, assets/scss/style.scss */
.jssorb051 .i:hover .b {
  fill-opacity: 0.7;
}

/* line 1212, assets/scss/style.scss */
.jssorb051 .iav .b {
  fill-opacity: 1;
}

/* line 1215, assets/scss/style.scss */
.jssorb051 .i.idn {
  opacity: 0.3;
}

/*jssor slider arrow skin 051 css*/
/* line 1220, assets/scss/style.scss */
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 1225, assets/scss/style.scss */
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

/* line 1231, assets/scss/style.scss */
.jssora051:hover {
  opacity: 0.8;
}

/* line 1234, assets/scss/style.scss */
.jssora051.jssora051dn {
  opacity: 0.5;
}

/* line 1237, assets/scss/style.scss */
.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}

/* line 1242, assets/scss/style.scss */
.product-moving {
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 980px;
  height: 380px;
  overflow: hidden;
  visibility: hidden;
}

@media (max-width: 360px) {
  /* line 1242, assets/scss/style.scss */
  .product-moving {
    overflow: hidden;
    visibility: hidden;
    width: 350px;
  }
}

/* line 1257, assets/scss/style.scss */
.product-moving__content {
  cursor: default;
  position: relative;
  top: 0px;
  left: 50px;
  width: 880px;
  height: 380px;
  overflow: hidden;
}

/* line 1268, assets/scss/style.scss */
.product-clothing-1 {
  /*    background-color: black;*/
  position: absolute;
  bottom: 0;
  left: 8%;
  /*width: 0%;*/
  width: 25rem;
  height: 30rem;
  /*    background-image: linear-gradient(
				to right bottom,
				rgba($color-grey,1),
				rgba($color-black,1));
			border-radius: .5rem;*/
  transition: all 0.2s;
}

/* line 1284, assets/scss/style.scss */
.product-clothing-1:hover {
  transform: translateY(-1rem);
  /*        box-shadow: 0 .5rem 2rem rgba($color-grey,.2);*/
}

/* line 1289, assets/scss/style.scss */
.product-clothing-1:active, .product-clothing-1:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 1296, assets/scss/style.scss */
.product-clothing-1__img-1 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  /*width: 0rem;*/
  width: 80%;
  height: auto;
}

/* line 1306, assets/scss/style.scss */
.product-clothing-2 {
  /*    background-color: black;*/
  position: absolute;
  bottom: 0;
  left: 8%;
  /*width: 0%;*/
  width: 25rem;
  height: 30rem;
  /*    background-image: linear-gradient(
				to right bottom,
				rgba($color-grey,1),
				rgba($color-black,1));
			border-radius: .5rem;*/
  transition: all 0.2s;
}

/* line 1322, assets/scss/style.scss */
.product-clothing-2:hover {
  transform: translateY(-1rem);
  /*        box-shadow: 0 .5rem 2rem rgba($color-grey,.2);*/
}

/* line 1327, assets/scss/style.scss */
.product-clothing-2:active, .product-clothing-2:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 1334, assets/scss/style.scss */
.product-clothing-2__img-2 {
  position: absolute;
  bottom: 10%;
  left: 8%;
  /*width: 0rem;*/
  width: 80%;
  height: auto;
}

/* line 1344, assets/scss/style.scss */
.product-clothing-3 {
  /*    background-color: black;*/
  position: absolute;
  bottom: 0;
  left: 8%;
  /*width: 0%;*/
  width: 25rem;
  height: 30rem;
  /*    background-image: linear-gradient(
				to right bottom,
				rgba($color-grey,1),
				rgba($color-black,1));
			border-radius: .5rem;*/
  transition: all 0.2s;
}

/* line 1360, assets/scss/style.scss */
.product-clothing-3:hover {
  transform: translateY(-1rem);
  /*        box-shadow: 0 .5rem 2rem rgba($color-grey,.2);*/
}

/* line 1365, assets/scss/style.scss */
.product-clothing-3:active, .product-clothing-3:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 1372, assets/scss/style.scss */
.product-clothing-3__img-3 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  /*width: 0rem;*/
  width: 80%;
  height: auto;
}

/* line 1383, assets/scss/style.scss */
.product-clothing-4 {
  /*    background-color: black;*/
  position: absolute;
  bottom: 0;
  left: 8%;
  /*width: 0%;*/
  width: 25rem;
  height: 30rem;
  /*    background-image: linear-gradient(
				to right bottom,
				rgba($color-grey,1),
				rgba($color-black,1));
			border-radius: .5rem;*/
  transition: all 0.2s;
}

/* line 1399, assets/scss/style.scss */
.product-clothing-4:hover {
  transform: translateY(-1rem);
  /*        box-shadow: 0 .5rem 2rem rgba($color-grey,.2);*/
}

/* line 1404, assets/scss/style.scss */
.product-clothing-4:active, .product-clothing-4:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 1411, assets/scss/style.scss */
.product-clothing-4__img-4 {
  position: absolute;
  bottom: 10%;
  left: 12%;
  /*width: 0rem;*/
  width: 80%;
  height: auto;
}

/* line 1422, assets/scss/style.scss */
.product-clothing-5 {
  /*    background-color: black;*/
  position: absolute;
  bottom: 0;
  left: 8%;
  /*width: 0%;*/
  width: 25rem;
  height: 30rem;
  /*    background-image: linear-gradient(
				to right bottom,
				rgba($color-grey,1),
				rgba($color-black,1));
			border-radius: .5rem;*/
  transition: all 0.2s;
}

/* line 1438, assets/scss/style.scss */
.product-clothing-5:hover {
  transform: translateY(-1rem);
  /*        box-shadow: 0 .5rem 2rem rgba($color-grey,.2);*/
}

/* line 1443, assets/scss/style.scss */
.product-clothing-5:active, .product-clothing-5:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 1450, assets/scss/style.scss */
.product-clothing-5__img-5 {
  position: absolute;
  bottom: 10%;
  left: 12%;
  /*width: 0rem;*/
  width: 80%;
  height: auto;
}

/*jssor slider loading skin spin css*/
/* line 1462, assets/scss/style.scss */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*jssor slider bullet skin 052 css*/
/* line 1479, assets/scss/style.scss */
.jssorb052 {
  margin-top: 0.6rem;
}

/* line 1483, assets/scss/style.scss */
.jssorb052 .i {
  position: absolute;
  cursor: pointer;
}

/* line 1488, assets/scss/style.scss */
.jssorb052 .i .b {
  fill: #272264;
  fill-opacity: 0.3;
}

/* line 1493, assets/scss/style.scss */
.jssorb052 .i:hover .b {
  fill-opacity: 0.7;
}

/* line 1497, assets/scss/style.scss */
.jssorb052 .iav .b {
  fill-opacity: 1;
}

/* line 1501, assets/scss/style.scss */
.jssorb052 .i.idn {
  opacity: 0.3;
}

/*jssor slider arrow skin 053 css*/
/* line 1506, assets/scss/style.scss */
.jssora053 {
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 1512, assets/scss/style.scss */
.jssora053 .a {
  fill: none;
  stroke: #272264;
  stroke-width: 740;
  stroke-miterlimit: 10;
}

/* line 1519, assets/scss/style.scss */
.jssora053:hover {
  opacity: 0.8;
}

/* line 1523, assets/scss/style.scss */
.jssora053.jssora053dn {
  opacity: 0.5;
}

/* line 1527, assets/scss/style.scss */
.jssora053.jssora053ds {
  opacity: 0.3;
  pointer-events: none;
}

/* line 1532, assets/scss/style.scss */
.heading-support {
  color: #4e47b4;
}

/* line 1535, assets/scss/style.scss */
.heading-support--main {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  animation: moveInRight 1s ease-out;
}

/* line 1546, assets/scss/style.scss */
.del-contact {
  padding: 18rem 0 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/bg-galery.jpg");
  overflow: hidden;
}

/* line 1556, assets/scss/style.scss */
.del-contact__content--form {
  background-image: linear-gradient(rgba(39, 34, 100, 0.95), rgba(78, 71, 180, 0.95));
  position: relative;
  margin-top: 15rem;
  height: 250px;
}

@media (max-width: 360px) {
  /* line 1556, assets/scss/style.scss */
  .del-contact__content--form {
    margin-top: 0;
    height: 160px;
  }
}

/* line 1567, assets/scss/style.scss */
.del-contact__content--form-inside {
  border-radius: 0.4rem;
  position: absolute;
  top: -160%;
  left: 9.5%;
  padding: 1rem 1rem 2rem 1rem;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
  width: 80%;
  height: auto;
  box-shadow: 0 0.1rem 0.4rem 0 black;
}

@media (max-width: 360px) {
  /* line 1567, assets/scss/style.scss */
  .del-contact__content--form-inside {
    left: 0%;
    width: 100%;
    padding: 0 0 0 0;
  }
}

/* line 1586, assets/scss/style.scss */
.del-contact__content--form-inside-row {
  padding: 1rem;
  display: inline-block;
}

@media (max-width: 360px) {
  /* line 1586, assets/scss/style.scss */
  .del-contact__content--form-inside-row {
    padding: 0;
  }
}

/* line 1593, assets/scss/style.scss */
.del-contact__content--form-inside-row-jssor {
  position: relative;
  top: -60px;
  left: 60px;
  width: 915px;
  height: 300px;
}

@media (max-width: 360px) {
  /* line 1593, assets/scss/style.scss */
  .del-contact__content--form-inside-row-jssor {
    top: -30px;
    left: 0;
    width: 360px;
    height: 170px;
  }
}

/* line 1607, assets/scss/style.scss */
.del-contact__content--form-inside-row-jssor__slide {
  position: relative;
  top: 65px;
  left: 140px;
  width: 640px;
  height: 160px;
}

@media (max-width: 360px) {
  /* line 1607, assets/scss/style.scss */
  .del-contact__content--form-inside-row-jssor__slide {
    top: 10px;
    left: 90px;
    width: 180px;
    height: 160px;
  }
}

/* line 1621, assets/scss/style.scss */
.del-contact__content--form-inside-row-jssor__slide-content {
  margin-left: 2rem;
}

@media (max-width: 360px) {
  /* line 1621, assets/scss/style.scss */
  .del-contact__content--form-inside-row-jssor__slide-content {
    margin-left: 0;
  }
}

/* line 1631, assets/scss/style.scss */
.del-contact__content--form-inside h1 {
  padding: 2rem 0 0 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */